* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: ITC Avant Garde Gothic Std;
	src: url('./ITC_Avant_Garde_Gothic_Std_Book.otf') format('opentype');
}

body {
	font-family: ITC Avant Garde Gothic Std, serif;
	background-color: #ffffff;
	overflow-x: auto;
}

nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.image-container {
	display: flex;
	justify-content: center;
	height: calc(100vh - 60px);
	width: 100%;
}
.homeimage {
	background-image: url('./images/Section1.jpg');
	background-size: cover;
	padding: 100px 100px;
	background-position: center;
}

.bg-image-1 {
	background-image: url('./images/bg-image-1.png');
}

.bg-image-2 {
	background-image: url('./images/bg-image-2.png');
	color: #fff;
}

/* Extra small device */
.ban-font {
	color: #fff; 
	font-size: 80px;
	 width: 60%;
}
.font-h {
	font-size: 60px;
}
.para-h {
	display: flex; 
	justify-content: end;
}
.box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 10px 0;
}
.customer .para {
	font-size: 60px
}
.box2 {
	display: flex; 
	justify-content: space-between; 
	padding: 30px 0;
}



@media screen and (max-width: 480px) {
	.ban-font {
		width: 100%;
		font-size: 40px;
	}
	.homeimage {
		padding: 20px;
		display: flex;
		align-items: center;
	}
	.font-h {
		font-size: 20px;
	}
	.para-h {
		display: table; 
		
	}
	.para-h div {
		width: 100% !important;
	}
	.box {
		flex-direction: column;
	}
	.customer .para {
		font-size: 20px
	}
	.gridItems {
		grid-template-columns: 1fr !important;
	}
	.approach .symbol {
		display: none !important;
	}
	.approach .first-h {
		width: 100% !important;
	}
	.box2 {
		flex-direction: column;
		align-items: center;
	}
	.box2 .item {
		margin: 10px !important;
	}
	.form .second {
		width: 100% !important;
	}
	.form .third {
		display: none;
	}
	.form .box3 {
		flex-direction: column !important;
	}
	.form .box3  .first{
		width: 100% !important;
	}
	footer .box4{
		flex-direction: column !important;
		padding: 0 !important;
	}
	.box-item {
		margin: 15px 15px 15px 15px;
	}
	
}

/* small device */
@media only screen and (min-width:481px) and (max-width:767px) {
	.ban-font {
		width: 100%;
		font-size: 45px;
	}
	.homeimage {
		padding: 30px;
		display: flex;
		align-items: center;
	}
	.font-h {
		font-size: 32px;
	}
	.para-h {
		display: table; 
	}
	.para-h div {
		width: 100% !important;
	}
	.box {
		flex-direction: column;
	}
	.customer .para {
		font-size: 32px
	}
	.gridItems {
		grid-template-columns: 1fr !important;
	}
	.approach .first-h {
		width: 100% !important;
	}
	.approach .symbol {
		display: none !important;
	}
	.box2 {
		flex-direction: column;
		align-items: center;
	}
	.box2 .item {
		margin: 10px !important;
	}
	.form .first {
		flex-direction: column !important;
	}
	.form .second {
		width: 100% !important;
	}
	.form .third {
		display: none;
	}
	.form .box3 {
		flex-direction: column !important;
	}
	.form .box3  .first{
		width: 100% !important;
	}
	footer .box4{
		flex-direction: column !important;
		align-items: flex-start;
		padding: 0 !important;
	}
	.box-item {
		margin: 15px 15px 15px 0;
	}
}

/* medium device */
@media only screen and (min-width:768px) and (max-width:991px) {
	.ban-font {
		width: 100%;
		font-size: 60px;
	}
	.homeimage {
		padding: 40px;
		display: flex;
		align-items: center;
	}
	.font-h {
		font-size: 40px;
	}
	.para-h {
		display: table; 
	}
	.para-h div {
		width: 100% !important;
	}
	.approach .first-h {
		width: 100% !important;
	}
	.approach .symbol {
		display: none !important;
	}
	.form .second {
		width: 100% !important;
	}
	.form .third {
		display: none;
	}
}




/* container */
.container {
	max-width: 1280px;
	margin: 0 auto;
}
.row {
	padding: 60px 0;
}
@media screen and (max-width:580px) {
	.container {
		width: 100%;
		padding: 0 10px;
	}
	.row {
		padding: 30px 0;
	}
}
@media only screen and (min-width:581px) and (max-width:767px) {
	.container {
		width: 540px;
	}
	.row {
		padding: 40px 0;
	}
}

@media only screen and (min-width:768px) and (max-width:991px) {
	.container {
		width: 720px;
	}
	.row {
		padding: 50px 0;
	}
}
@media only screen and (min-width:992px) and (max-width:1199px) {
	.container {
		width: 960px;
	}
	.row {
		padding: 60px 0;
	}
}
@media only screen and (min-width:1200px)  {
	.container {
		width: 1160px;
	}
	.row {
		padding: 60px 0;
	}
}